.field
    &__error
        color: #af4c4c
        font-size: 11px
        letter-spacing: .2px

.rating
    overflow: hidden

    &__label
        float: left
        line-height: 100%
        transform: translateY(50%)

    &__stars
        margin-left: 5px
