{
    "presets": ["es2015"],
    "plugins": [
        [
            "namespace", {
                "disableSync"   : false,
                "excludes"      : [
                    "node_modules"
                ],
                "namespaces"    : {
                    "helpers"   : "./app/helpers",
                    "data"      : "./app/data"
                }
            }
        ]
    ]
}
