*:focus
    outline: none

#app
    margin-top: 30px

.text
    &--empty
        font-weight: bold
        font-size: 13px
        color: #b3b3b3

.float-l
    float: left

.float-r
    float: right

.clearfix:after
    content: ''
    clear: both
    display: block
    width: 100%
